*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Basic site variables */
:root {
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fs-h1: 1.25rem;
  --fs-h2: 1.75rem;
  --fs-body: 1rem;
  --fs-xl: 4rem;
  --clr-light: #fff;
  --clr-gray: #989898;
  --clr-dark: #444;
  --clr-accent: #d06d6d;
  --clr-accent-dark: #613131;
  --degree-size: 8px;
  --angle: 1;
  --rot: 0;
  --radius: 50%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#report {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-image: url("../../assets/images/blue-water-background.jpg");
  background-size: cover;
  color: var(--clr-light);
  min-height: 135vh;
  overflow: hidden;
}

#realtime {
  width: 100%;
}

#map {
  height: 100vh;
  width: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1;
}

a {
  color: var(--clr-accent);
}

.margin-bottom {
  margin-bottom: 15px !important;
}

.show {
  display: block;
}

.hide {
  display: none;
}

a:hover {
  color: var(--color-accent-dark);
}

.main-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  color: var(--clr-accent);
  letter-spacing: 2px;
  grid-column: 1 / -1;
}

.section-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  margin: 0;
}

.reading {
  font-size: var(--fs-h1);
  margin: 0;
  color: var(--clr-gray);
}

.current-report {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  padding: 2em;
  margin: 2em 4em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.date {
  grid-column: 1 / 2;
}

.date-day {
  font-size: var(--fs-h2);
  margin: 0;
  color: var(--clr-gray);
  font-weight: var(--fw-light);
}

.temp {
  --border: solid 0.25em var(--clr-accent-dark);
  border-left: var(--border);
  border-right: var(--border);
  grid-column: 2 / 3;
  padding: 0 2em;
}

.temp h2 {
  margin: 0;
}

.wind-and-swell #location-map {
  max-height: 290px;
  max-width: 290px;
  background-size: cover;
}

.wind-and-swell {
  position: relative;
}

.wind-circle,
.swell-circle {
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 40px;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
  transition: transform 0.7s linear;
  /* animation: rotation 2s infinite linear; */
}

.wind-degree,
.swell-degree {
  position: absolute;
  transform: rotate(0deg);
  width: var(--degree-size);
  height: var(--degree-size);
  top: (var(--degree-size) / 2);
  left: 133px;
  transition: transform 0.7s linear;
  color: #ff4444;
  border-radius: 50%;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.wind {
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: start;
}

.wind .section-title,
.wind .reading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.weather-container > div {
  flex: 1;
}

.wind-direction {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.swell-arrow,
.wind-arrow {
  height: 50px;
  width: 25px;
}

.swell-arrow {
  background-image: url("../../assets/images/swell-arrow.png");
  background-size: cover;
  animation-duration: 10s linear;
}

.wind-arrow {
  background-image: url("../../assets/images/wind-arrow.png");
  background-size: cover;
}

.info {
  grid-column: 1 / 4;
}

.upcoming-surf {
  height: 500px;
  padding: 3rem;
  background: var(--clr-light);
  color: var(--clr-dark);
  position: fixed;
  bottom: 0;
  width: 100%;
  transform: translateY(90%);
  transition: transform 350ms ease;
  z-index: 2;
}

.show-upcoming-surf {
  position: absolute;
  background: var(--clr-light);
  left: 50%;
  width: 10rem;
  transform: translate(-50%, calc(-100% - 2.89rem));
  text-align: center;
  font-size: var(--fs-h2);
  line-height: 1;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  cursor: pointer;
  color: var(--clr-gray);
  border: 0;
}

.show-upcoming-surf:hover,
.show-upcoming-surf:focus {
  color: var(--clr-dark);
}

.upcoming-days {
  display: flex;
  justify-content: space-between;
}

.upcoming-surf-title {
  transform: translateY(-2rem);
  text-align: center;
  margin-bottom: 2rem;
}

.show-surf.upcoming-surf .upcoming-surf-title {
  animation: slideUpIn 750ms forwards;
  text-align: left;
}

.upcoming-day {
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
  flex: 1;
}

.more-info- .upcoming-day-date {
  font-size: 0.9rem;
  color: var(--clr-gray);
}

.upcoming-day > * {
  margin: 0;
}

.upcoming-day-btn {
  cursor: pointer;
  margin-top: 1rem;
  border: 0;
  border-radius: 100vmax;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  text-transform: uppercase;
  padding: 0.3rem;
}

.upcoming-day-btn:hover {
  background-color: var(--clr-gray);
}

.arrow-label {
  display: block;
  transform: rotate(0);
  transition: transform 300ms ease;
}

.show-surf.upcoming-surf {
  transform: translateY(0);
}

.upcoming-surf.show-surf .arrow-label {
  display: block;
  transform: rotate(180deg);
}

.show-surf.upcoming-surf .upcoming-day {
  opacity: 0;
  animation: slideUpIn 750ms forwards;
}

.show-surf.upcoming-surf .upcoming-day:nth-child(1) {
  animation-delay: 100ms;
}
.show-surf.upcoming-surf .upcoming-day:nth-child(2) {
  animation-delay: 125ms;
}
.show-surf.upcoming-surf .upcoming-day:nth-child(3) {
  animation-delay: 150ms;
}
.show-surf.upcoming-surf .upcoming-day:nth-child(4) {
  animation-delay: 175ms;
}
.show-surf.upcoming-surf .upcoming-day:nth-child(5) {
  animation-delay: 200ms;
}
.show-surf.upcoming-surf .upcoming-day:nth-child(6) {
  animation-delay: 225ms;
}
.show-surf.upcoming-surf .upcoming-day:nth-child(7) {
  animation-delay: 250ms;
}

@keyframes slideUpIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
